* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

/* ------------ Layout ------------ */
.row {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;

  gap: 30px;
}
/* ------------ Nav Section ------------ */
header {
  background-color: #136c72;
  padding: 1.2rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;

  flex-grow: 1;
  flex-shrink: 1;
}

.logo__link {
  display: flex;
  align-self: center;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
  font-size: 1rem;
}

.nav__list--primary {
  margin: 0 auto;
}

.nav__item + .nav__item {
  margin-left: 1rem;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.nav__link--button {
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #136c72;
  font-weight: 400;
  padding: 0.25em 1em;
  border-radius: 100px;
  transition: all 0.3s;
}

.nav__link--button:hover {
  transform: translateY(-0.2rem);
  box-shadow: rgba(228, 10, 10, 0.24) 0px 3px 150px;
}

.nav-toggle {
  display: none;
}

/* ------------ Hero Section ------------ */
.hero {
  background-color: #23424a;
  padding: 100px 0;
  color: #fff;
}

.hero__text {
  width: 62%;
}

.hero__img {
  width: 32%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 700;
  background-color: #38cfd9;
  padding: 0.3em 2em;
  border-radius: 100px;
  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: rgba(228, 10, 10, 0.24) 0px 3px 150px;
}

/* ------------ Main Section ------------ */
.main {
  margin-top: 4rem;
}

.primary-content {
  width: 62%;
}

.primary-content__title {
  color: #136c72;
}

.side-content {
  background-color: #136c72;
  text-align: center;
  padding: 1rem 2rem;
  width: 32%;
}

.side-content__title {
  color: #fff;
}

.side-content__text {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

@media (max-width: 800px) {
  .container {
    position: relative;
  }

  /* ------------ Hamburger Menu ------------ */
  .nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072a2d;
    color: white;
    transition: opacity 250ms ease;

    display: block;
    position: absolute;
    left: 0;
  }

  .nav-toggle:focus,
  .nav-toggle:hover {
    opacity: 0.75;
  }

  .hamburger {
    width: 50%;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    width: 100%;
  }

  .hamburger::before {
    transform: translateY(-6px);
  }

  .hamburger::after {
    transform: translateY(3px);
  }

  /* ---- Navigation layout for smaller screens ---- */
  .nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    flex-direction: column;
  }

  .nav__list {
    flex-direction: column;
    margin-top: 1rem;
    font-size: 1.3rem;
  }

  .nav__item {
    margin-top: 1rem;
  }

  .nav__item + .nav__item {
    margin-left: 0;
  }

  .nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
  }

  .nav__link--button {
    transition: none;
  }

  .logo__link {
    justify-content: center;
  }

  /* ---- General layout for smaller screens ---- */
  .row {
    display: block;
  }

  .hero__text,
  .hero__img,
  .primary-content,
  .side-content {
    width: 100%;
  }

  .hero__img {
    margin-top: 2em;
  }
}
